.details__container {
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.details__img-wrapper {
  max-height: 760px;
}

.details__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.details__text-wrapper {
  padding: 90px 100px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details__text-title {
  margin: 0;
  margin-bottom: 13px;
  color: var(--dark-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.details__text-prise {
  margin: 0;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #12131a;
}

.details__text-desriprion-wrapper {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  color: #505977;
}

.details__text-desriprion-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-primary);
}

.details__text-desriprion {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
}

.details__text-desriprion-list {
  padding: 0;
  padding-left: 25px;
  margin: 0;
}

.details__text-dimensions-wrapper {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 400;
  color: var(--dark-primary);
}

.details__text-dimensions-title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.details__text-dimensions-container {
  display: flex;
}

.details__text-dimensions-parametrs:not(:last-child) {
  margin-right: 58px;
}

.details__text-dimensions-parametrs-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 17px;
}

.details__text-dimensions-parametrs-value {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #505977;
}

.details__text-amount-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details__text-amount-container {
  display: flex;
  align-items: center;
}

.details__text-amount-btn-wrapper {
  display: flex;
  background-color: var(--light-gray);
  align-items: center;
}

.details__text-amount-text {
  margin: 0;
  margin-right: 22px;
}

.details__text-amount-btn {
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border: 0;
  color: #cac6da;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  transition: color 0.3s ease;
}

.details__text-amount-btn:hover {
  color: var(--dark-primary);
}

.decrement {
  padding: 12px 33px 12px 16px;
}

.increment {
  padding: 12px 16px 12px 33px;
}

.details__text-amount {
  margin: 0;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-primary);
}

.details__text-btn {
  bottom: 0;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  border: 0;
  background-color: var(--dark-primary);
  text-align: center;
  padding: 16px 32px;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .details__text-wrapper {
    padding: 70px 80px 60px;
  }
}

@media screen and (max-width: 1071px) {
  .details__text-wrapper {
    padding: 70px 80px 50px 60px;
  }

  .details__text-amount-wrapper {
    flex-wrap: wrap;
  }

  .details__text-amount-container {
    padding-right: 25px;
    margin-bottom: 16px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 950px) {
  .details__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .details__img-wrapper {
    max-height: 380px;
  }

  .details__text-wrapper {
    padding: 38px 80px 45px;
  }

  .details__text-desriprion-title,
  .details__text-dimensions-title {
    margin-top: 28px;
  }
}

@media screen and (max-width: 800px) {
  .details__text-wrapper {
    padding: 38px 50px 45px;
  }
}

@media screen and (max-width: 600px) {
  .details__text-wrapper {
    padding: 38px 25px 45px;
  }

  .details__text-title {
    font-size: 24px;
    line-height: 140%;
  }

  .details__text-prise {
    font-size: 20px;
    line-height: 140%;
  }

  .details__text-amount-wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .details__text-amount-container {
    flex-direction: column;
    align-items: stretch;
    padding-right: 0;
  }

  .details__text-amount-text {
    text-align: left;
    margin-bottom: 12px;
  }

  .details__text-amount-btn-wrapper {
    justify-content: center;
  }

  .details__text-btn-wrapper {
    display: flex;
  }

  .details__text-btn {
    width: 100%;
  }

  .details__text-dimensions-parametrs-value {
    font-size: 14px;
    line-height: 150%;
  }
}

@media screen and (max-width: 430px) {
  .details__text-dimensions-container {
    justify-content: space-between;
  }
}