.product-listings__container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(230px, 385px) 1fr;
}

.product-listings__panel {
  grid-area: 1 / 1 / 2 / 2;
}

.product-listings__lists {
  grid-area: 1 / 2 / 2 / 3;
}

@media screen and (max-width: 695px) {
  .product-listings__container {
    grid-template-columns: 1fr;
  }
}