.product-listings__container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(230px, 385px) 1fr;
}

.product-listings__panel {
  grid-area: 1 / 1 / 2 / 2;
}

.product-listings__lists {
  grid-area: 1 / 2 / 2 / 3;
}

.product-listings__btn-container {
  max-width: 695px;
  display: none;
  padding: 20px 25px;
}

.product-listings__filter-panel-btn {
  margin: 0;
  padding: 16px 32px;
  border: 0;
  background-color: var(--light-gray);
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-primary);
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 695px) {
  .product-listings__container {
    grid-template-columns: 1fr;
  }

  .product-listings__btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }
}