.hero {
  background: url(../../img/images/hero-bg.jpg) center no-repeat;
  background-size: 100%;
  height: 704px;
}

.hero__container {
  margin: 0 auto;
  max-width: 1440px;
  height: 704px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 444px;
  width: 630px;
  background-color: var(--white);
  margin-right: 80px;
  padding: 48px 51px 46px 56px;
}

.hero__text-wrapper {
  max-width: 513px;
}

.hero__text-title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  color: #22202e;
}

.hero__text-subtitle {
  margin: 20px 0 0;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #5b5676;
}

.hero__img {
  display: none;
  width: 100%;
  object-fit: contain;
}
