.link-view {
  width: 170px;
  padding: 16px 32px;
  background-color: var(--light-gray);
  text-decoration: none;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2a254b;
  text-align: center;
}

.type_promo {
  color: var(--white);
  background-color: var(--primary);
}

@media screen and (max-width: 600px) {
  .link-view {
    width: 100%;
    text-align: center;
  }
}
