.input-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 118px;
}

.input {
  width: 100%;
  height: 56px;
  outline: none;
  padding: 17px 32px;
  border: 0;
}

.input::placeholder {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-primary);
  opacity: 0.2;
}

.input__button {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  padding: 16px 32px;
  border: 0;
  background-color: var(--dark-primary);
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input__button:hover {
  opacity: .5;
}

.input__button_input_footer {
  background-color: var(--white);
  color: var(--dark-primary);
  max-width: 118px;
  flex-grow: 1;
  flex-shrink: 1;
}

.input_footer {
  width: 100%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--white);
  border: 0;
  flex-grow: 6;
  flex-shrink: 1000;
}

.input_footer::placeholder {
  color: var(--white);
}

.input__title {
  margin: 0 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.aboutUs {
  background-color: var(--light-gray);
}