.spam {
  height: 444px;
  background: url(../../img/images/spam-bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spam__type_aboutUs {
  padding: 50px 80px 60px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background: var(--light-gray);
}

.spam__container {
  margin: 0 auto;
  max-width: 544px;
  padding: 0 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spam__container_type_aboutUs {
  padding: 70px 0 50px;
  max-width: 1440px;
  background-color: var(--white);
}

.spam__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  color: var(--white);
  text-align: center;
}

.spam__subtitle {
  max-width: 502px;
  margin: 12px 0 0;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--white);
  text-align: center;
}

.spam__title_type_aboutUs,
.spam__subtitle_type_aboutUs {
  color: var(--dark-primary);
}

.spam__title_type_aboutUs {
  font-size: 36px;
  line-height: 140%;
}

.spam__subtitle_type_aboutUs {
  max-width: 470px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.spam__icon-list {
  margin: 30px 0 40px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.spam__icon-wrapper:not(:last-child) {
  margin-right: 36px;
}

.spam__icon-text {
  margin-left: 8px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}

.spam__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spam__input-wrapper {
  margin-top: 72px;
}

@media screen and (max-width: 600px) {
  .spam {
    height: auto;
  }

  .spam__container {
    align-items: flex-start;
    padding: 24px 25px 32px;
  }

  .spam__subtitle {
    text-align: left;
    font-size: 14px;
    line-height: 150%;
  }

  .spam__title {
    text-align: left;
    font-size: 24px;
    line-height: 140%;
  }

  .spam__icon-list {
    flex-direction: column;
  }
}
