.features__container {
  margin: 0 auto;
  padding: 80px 80px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features__title {
  text-align: center;
  margin: 0 0 36px;
  color: var(--dark-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}

.features__card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  grid-template-rows: auto;
  gap: 26px 16px;
}

.features__card {
  background-color: var(--light-gray);
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.features__card:last-child {
  margin-left: auto;
}

.features__card-title {
  margin: 12px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--dark-primary);
}

.features__card-subtitle {
  margin: 12px 0 0;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-primary);
}

@media screen and (max-width: 800px) {
  .features__container {
    padding: 50px;
  }
}

@media screen and (max-width: 600px) {
  .features__container {
    padding: 50px 25px;
  }
  .features__title {
    text-align: left;
  }
}
