.footer {
  background-color: var(--dark-primary);
  color: var(--white);
}

.footer__container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 85px 80px 25px;
  display: flex;
  flex-direction: column;
}

.footer__nav-container {
  padding-bottom: 48px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 220px)) minmax(400px, 1fr);
  grid-template-rows: auto;
}

.footer__menu-lists,
.footer__nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__title {
  margin: 0 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer__menu-link,
.footer__nav-link {
  color: var(--white);
  text-decoration: none;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.footer__menu-list:not(:last-child),
.footer__nav-link:not(:last-child) {
  margin-bottom: 12px;
}

.footer__borderline {
  height: 1px;
  background-color: var(--primary);
}

.footer__copyright-container {
  padding: 25px 0 0;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.footer__social-icon-lists {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-icon-list:not(:last-child) {
  margin-right: 24px;
}

@media screen and (max-width: 1100px) {
  .footer__nav-container {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 16px;
  }

  .footer__menu {
    padding-bottom: 40px;
  }

  .footer__menu:nth-child(2) {
    justify-self: center;
  }

  .footer__menu:nth-child(3) {
    justify-self: flex-end;
  }

  .footer__input-contaier {
    grid-area: 2 / 1 / 2 / 4;
  }
}

@media screen and (max-width: 800px) {
  .footer__container {
    padding: 55px 50px 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer__container {
    padding: 40px 25px 20px;
  }

  .footer__nav-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* menu */
  .footer__menu:nth-child(1) {
    grid-area: 1 / 2 / 1 / 3;
  }

  /* categories */
  .footer__menu:nth-child(2) {
    grid-area: 1 / 1 / 1 / 2;
    justify-self: flex-start;
  }

  /* our company */
  .footer__menu:nth-child(3) {
    grid-area: 2/ 1 / 2 / 2;
    justify-self: flex-start;
  }

  .footer__input-contaier {
    grid-area: 3 / 1 / 3 / 3;
  }

  .footer__copyright-container {
    padding-top: 20px;
  }

  .footer__copyright-wrapper {
    margin: 0 auto;
  }

  .footer__social-icon-wrapper {
    display: none;
  }
}