.listings__container {
  margin: 0 auto;
  padding: 28px 80px 40px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listings__card-wrapper {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
}

.listings__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.5s linear;
}

.listings__card:hover {
  opacity: 0.8;
}

.listings__card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.listings__card-title {
  margin: 24px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--dark-primary);
}

.listings__card-price {
  margin: 8px 0 0;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--dark-primary);
}

@media screen and (max-width: 980px) {
  .listings__card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .listings__container {
    padding: 28px 50px 30px;
  }
}

@media screen and (max-width: 600px) {
  .listings__card-wrapper {
    column-gap: 16px;
    margin-bottom: 40px;
  }

  .listings__container {
    padding: 24px 25px;
  }
}